{% extends 'admin.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <h1 class="text-info my-5">Espace Admin</h1>
            <img class="img-responsive" src="{{ asset('images/under-construction.gif') }}" alt="page under construction" width="20%">
        </div>
    </div>

{% endblock %}