{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}

<img class="img-responsive" src="{{ asset('images/under-construction.gif') }}" alt="no music no life" width="20%">

{# Réfléchir aux liens réservés à admin, ex:  <a href="{{ path('products_new') }}">Ajouter un nouveau produit</a> #}

{% endblock %}