{% extends 'admin.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
<h1 class="text-info">Bienvenue dans votre Espace Admin</h1>
<img class="img-responsive" src="{{ asset('images/under-construction.gif') }}" alt="page under construction" width="20%">

{# Réfléchir aux liens réservés à admin, ex:  <a href="{{ path('products_new') }}">Ajouter un nouveau produit</a> #}

{% endblock %}