{% extends 'base.html.twig' %}

{% block title %}Liste des fournisseurs{% endblock %}

{% block body %}

    <h1>Liste des fournisseurs :</h1>

    <table>
        <thead>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Code Postal</th>
            <th>Ville</th>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
            <td>{{ supplier.suppliersName }}</td>
            <td>{{ supplier.suppliersAddress }}</td>
            <td>{{ supplier.suppliersZipcode }}</td>
            <td>{{ supplier.suppliersCity }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>



{% endblock %}
