{% extends 'admin.html.twig' %}

{% block title %}Nouvelle Commande{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle commande</h1>

    {{ include('admin/totalorder/_form.html.twig') }}

    <a href="{{ path('admin_totalorder_home') }}">Retour aux Commandes clients</a>
{% endblock %}
