{% extends 'admin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajout nouveau produit{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-9 col-sm-9">
            <h1 class="text-info">Nouveau produit</h1>
        </div>
        <div class="col-3 col-sm-3">
            <a href="{{ path('admin_products_home') }}" class="btn btn-info">Retour Liste des Produits</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12">
            {{ include('admin/products/_form.html.twig') }}
        </div>

    </div>

{% endblock %}
