{% extends 'base.html.twig' %}

{% block title %}Tous nos produits{% endblock %}

{% block body %}
    <div class="container js-filter">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center text-info">Catalogue de nos produits</h1>
                {# à faire : mettre lien dans if app.user == admin pour ne l'afficher que pour admin : #}
     {#            <a href="{{ path('products_new') }}">Ajouter un nouveau produit</a>#}
            </div>
        </div>

        <div class="row">
            {# div to show search form : #}
            <div class="col-md-3">{# enlevé class js-filter-form et ajouté directment dans _filter.html.twig #}
                {% include 'products/_filter.html.twig' with {form: form, min: min, max: max} only %}
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-end mb-2 js-filter-sorting">
                    {% include 'products/_sorting.html.twig' %}
                </div>
                <div class="grid js-filter-content">
                    {% include 'products/_products.html.twig' %}
                </div>
                <div class="mt-4 js-filter-pagination">
                    {% include 'products/_pagination.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
