{% extends 'base.html.twig' %}

{% block title %}Recherche dans notre catalogue{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Résultat de votre recherche</h1>
        </div>
    </div>


{% endblock %}
