{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>titre de l'article</h2>
        <div class="metadata">Des data</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Un paragraphe</p>
            <p>Un paragraphe</p>
            <hr>
            <p>Nam aliquam placerat faucibus. Nam auctor dui iaculis est vehicula, quis fringilla felis mattis. Integer viverra, mi iaculis ultrices vehicula, quam ex tempor massa, id tristique risus odio eu purus. Quisque convallis sollicitudin bibendum. Mauris lacus felis, pellentesque sed nisl pharetra, venenatis interdum dui. Praesent vitae mauris justo. Duis faucibus ex orci, a congue lorem maximus eget. Nunc placerat, dui at placerat malesuada, leo nulla consequat arcu, vitae pulvinar tellus ante non lectus. Integer semper dolor eget finibus imperdiet. Morbi tempus dolor ut mattis hendrerit. Cras vel odio vestibulum, efficitur turpis et, sagittis massa. Mauris eu faucibus tellus, id dapibus augue. Integer et sollicitudin nulla. Fusce sed neque eget lacus fermentum vestibulum. Sed ut mauris at nisl laoreet rhoncus imperdiet sed enim. Vestibulum commodo augue sed libero dapibus dapibus. </p>
            <p>Nam aliquam placerat faucibus. Nam auctor dui iaculis est vehicula, quis fringilla felis mattis. Integer viverra, mi iaculis ultrices vehicula, quam ex tempor massa, id tristique risus odio eu purus. Quisque convallis sollicitudin bibendum. Mauris lacus felis, pellentesque sed nisl pharetra, venenatis interdum dui. Praesent vitae mauris justo. Duis faucibus ex orci, a congue lorem maximus eget. Nunc placerat, dui at placerat malesuada, leo nulla consequat arcu, vitae pulvinar tellus ante non lectus. Integer semper dolor eget finibus imperdiet. Morbi tempus dolor ut mattis hendrerit. Cras vel odio vestibulum, efficitur turpis et, sagittis massa. Mauris eu faucibus tellus, id dapibus augue. Integer et sollicitudin nulla. Fusce sed neque eget lacus fermentum vestibulum. Sed ut mauris at nisl laoreet rhoncus imperdiet sed enim. Vestibulum commodo augue sed libero dapibus dapibus. </p>
        </div>
    </article>
{% endblock %}