{% extends 'member.html.twig' %}

{% block title %}Modification du compte de {{ customer.customersName }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 col-sm-12">
            <h1 class="text-info text-center">Modification du compte de {{ customer.customersName }}
            </h1>
            {{ form(form) }}
        </div>
    </div>

    <img class="img-responsive" src="{{ asset('images/under-construction.gif') }}" alt="no music no life" width="20%">

{% endblock %}


{% block javascripts %}
{% endblock %}


