{% extends 'member.html.twig' %}

{% block title %}Modification du compte de {{ customer.customersName }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 col-sm-12">
            <h1 class="text-info text-center">Modification du compte : {{ customer.customersName }}
            </h1>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
{% endblock %}


