{% extends 'member.html.twig' %}

{% block title %}Espace Membre - Accueil{% endblock %}

{% block body %}
    <p>Bienvenue sur votre Espace Membre!</p>
    <p>Cet espace sécurisé vous permet de gérer en toute simplicité votre compte utilisateur, vos coordonnées, et consulter votre historique de commandes.</p>

{% endblock %}


{% block javascripts %}
{% endblock %}

