{% extends 'member.html.twig' %}

{% block title %}Espace Membre - Accueil{% endblock %}

{% block body %}
    <h1 class="text-info text-sm-center">Bienvenue sur votre Espace Membre!</h1>
    <p>Cet espace sécurisé vous permet de gérer en toute simplicité votre compte utilisateur, vos coordonnées, et consulter votre historique de commandes.</p>



{% endblock %}


{% block javascripts %}
{% endblock %}

